@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

/* Add CSS styles here! */
body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: antiquewhite;
  margin: 0;
}
